@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* height: 100vh; */
    
}

header{
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: rgba(211, 188, 230);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);

}

main {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 20px 50px;
    gap: 15px;
}

.catalog-section{
    flex: 1;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.22);
}

.catalog-section__product-wrapper{
    width: 100%;
}

.catalog-section__product-wrapper__title{
    font-size: 22px;
    padding: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-section__product-wrapper__product-container{
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
}

/* STARTING CATALOG PRODUCT STYLE SECTION */

.catalog-section__product-wrapper__product-container__product{
    padding: 15px 12px 15px 12px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.068);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.catalog-section__product-wrapper__product-container__product__title{
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-section__product-wrapper__product-container__product__image-container{
    width: 105px;
    height: 105px;
    display: flex;
    justify-content: center;
}

.catalog-section__product-wrapper__product-container__product__description{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-section__product-wrapper__product-container__product__price{
    font-size: 26px;
    font-weight: bold;
}

/* FINISHING CATALOG PRODUCT STYLE SECTION */

/* CART SECTION */
.cart-section{
    width: 600px;
    padding: 15px 20px;
    position: sticky;
    top: 60px;
    align-self: flex-start;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.612);
    border-radius: 15px;
}

.cart-section__resume-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cart-section__resume-wrapper__title{
    width: 100%;
    padding: 0px 0 18px 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.cart-section__resume-wrapper__product-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px 10px 15px 0;
    max-height: 500px;
    overflow-y: auto;
}

.cart-section__resume-wrapper__products-container__empty-message{
    width: 100%;
    text-align: center;
    padding: 15px;
}

/* STARTING CART PRODUCT SECTION */

.cart-section__resume-wrapper__products-container__product{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.cart-section__product-wrapper__products-container__product__left-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.cart-section__resume-wrapper__products-container__product__image-container{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.22);
}

.cart-section__resume-wrapper__products-container__product__title{
    font-size: 16px;
    width: 160px;
}

.cart-section__resume-wrapper__products-container__product__image-container:hover{
    box-shadow: 0 0 7px 6px rgba(0, 0, 0, 0.102);
}

.cart-section__product-wrapper__products-container__product__right-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.cart-section__product-wrapper__products-container__product__buttons-container{
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cart-section__product-wrapper__products-container__product__quantity{
    width: 30px;
    text-align: center;
    background-color: rgb(250, 235, 215);
}

.cart-section__resume-wrapper__products-container__product__price{
    width: 80px;
    background-color: rgb(250, 235, 215);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


/* FINISHING CART PRODUCT SECTION */


/* RESUME SECTION */
.cart-section__resume-wrapper__resume{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding: 15px 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

.cart-section__resume-wrapper__resume__totals-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 15px;
}

.cart-section__resume-wrapper__resume__totals-container__total-items{
    width: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.cart-section__resume-wrapper__resume__totals-container__total-price{
    width: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

