.hidden{
    display: none;
}

.primary-btn{
    font-size: 14px;
    padding: 10px 18px;
    border-radius: 15px;
    border: none;
    background-color: rgb(164, 28, 255);
    color: white;
}

.primary-btn:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0);

}

.cart-btn{
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    background-color: rgb(164, 28, 255);
    color: white;
}

.cart-btn:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}